* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background-color: #ea5455;
}



/*** HOME ***/
nav ul li {
    margin: 0 8px;
}

nav .navbar-toggler {
    background-color: #ea5455;
}

nav .navbar-brand:hover {
    text-decoration: underline;
}

nav .nav-link:hover, nav .nav-link:focus {
    color: #f07b3f !important;
}

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.navbar.scrolled .nav-link, .navbar.scrolled .brand {
    color:#2d4059;
}

.jumbotron {
    background-color: #2d4059;
    color: #ffd460;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    min-height: 85vh;
    margin-bottom: 0;
}

.jumbotron .container {
    margin-top: 22vh;
}

.jumbotron img {
    width: 20%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.menu {
    min-height: 80vh;
    padding-top: 25vh;
}

.menu .nav-link.active {
    background-color: #f07b3f;
}

.menu .nav-link {
    color: #ffd460;
}

.menu .category-list {
    background-color: #2d4059;
    padding: 24px;
    border-radius: 18px;
}

.menu .menu-list {
    background-color: #ffd460;
    padding: 24px;
    border-radius: 18px;
}

.menu .card {
    background-color: #2d4059;
    border-radius: 18px;
    color: #fff;
    width: 200px;
    margin: 8px;
}

.menu .card:hover {
    cursor: pointer;
}

.menu .card-overlay {
    position: relative;
    transition: transform .1s ease-in-out;
    padding: 8px;
}

.menu .card-overlay img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    border-radius: 12px;
}

.menu .card-overlay .card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.menu .card:hover .card-img-overlay {
    opacity: 1;
    cursor: pointer;
}

.menu .card-overlay .card-img-overlay .card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.menu .tab-pane.active {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.menu .cardWrapper {
    display: flex;
    flex-wrap: nowrap;
    transform: translateZ(0);
    overflow: visible;
}

.about {
    background-color: #2d4059;
    color: #ffd460;
    min-height: 90vh;
    padding-top: 20vh;
}

.menu hr {
    width: 300px;
    border-top: 3px solid #fff;
}

.about hr {
    width: 300px;
    border-top: 3px solid #ffd460;
}

.jumbotron .btn, nav .btn {
    background-color: #f07b3f;
    color: #fff;
}

.jumbotron .btn:hover, nav .btn:hover {
    background-color: #df713a;
    color: #fff;
}

footer {
    background-color: #ffd460;
    color: #2d4059;
}
/*** END OF HOME ***/



/*** LOGIN & REGISTER ***/
.login {
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.register {
    height: 700px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.login .btn, .register .btn {
    background-color: #f07b3f;
    color: #fff;
}

.login .btn:hover, .register .btn:hover {
    background-color: #df713a;
    color: #fff;
}

.login a, .register a {
    color: #fff;
}

.login .card a, .register .card a {
    color: #f07b3f;
}
/*** END OF LOGIN & REGISTER ***/



/*** DETAIL ***/
.detail nav {
    background-color: #fff;
}

.detail nav .nav-link, .detail nav .brand {
    color: #2d4059 !important;
}

.detail nav .nav-link:hover {
    color: #f07b3f !important;
}

.menu-detail .container {
    margin-top: 15vh;
}

.menu-detail img {
    border-radius: 12px;
}
/*** END OF DETAIL ***/



/*** ADMIN DASHBOARD ***/
.adminDashboard nav {
    background-color: #fff;
}

.adminDashboard nav .nav-link, .adminDashboard nav .brand {
    color: #2d4059 !important;
}

.adminDashboard nav .nav-link:hover {
    color: #f07b3f !important;
}
/*** END OF ADMIN DASHBOARD ***/



/*** ORDERS PAGE ***/
.ordersPage nav {
    background-color: #fff;
}

.ordersPage nav .nav-link, .ordersPage nav .brand {
    color: #2d4059 !important;
}

.ordersPage nav .nav-link:hover {
    color: #f07b3f !important;
}
/*** END OF ORDERS PAGE***/



/*** ADD MENU ***/
.addMenu nav {
    background-color: #fff;
}

.addMenu nav .nav-link, .addMenu nav .brand {
    color: #2d4059 !important;
}

.addMenu nav .nav-link:hover {
    color: #f07b3f !important;
}

.addMenuForm .container {
    margin-top: 15vh;
}

.addMenuForm form {
    background-color: #2d4059;
    border-radius: 12px;
    padding: 32px 62px 24px;
}

.addMenuForm form label.col-form-label {
    color: #ffd460;
    padding-left: 0;
}
/*** END OF DETAIL ***/



.form-rounded {
    border-radius: 1rem;
}
